@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@theme inline {
  /* --color-myred: #ff0000;
  --color-myblue: #0000ff; */
  
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
  
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

/* Main yahin  pe band karna tha overflow-x hidden ka */
.app{
  overflow-x: hidden;
}
/* 
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

html{
  @apply scroll-smooth;
}
html {
  scroll-padding-top: 96px;
  scroll-behavior: smooth;
}

#navbar{
  width: 100%;
  position : fixed;
  background: rgba(126, 155, 218, 0.644);
}

.main-section{
  @apply min-h-screen border border-gray-100 flex justify-center items-center ;
}

#about{
  @apply bg-white;
}

#footer{
  @apply max-h-100 bg-blue-950 ;
}

#hero{
  @apply flex flex-col justify-center items-center;
}

